main {
  display: grid;
  grid-template-columns: 3rem 80vh 3rem; /* Left margin / Main / Right margin */
  grid-template-rows: 3rem 3rem 3rem 80vh 3rem; /* Header / Navigation / Flash / Main / Footer */
}

header {
  grid-column: 2;
  grid-row: 1;
}

nav {
  grid-column: 2;
  grid-row: 2;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  padding-left: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

h1 {
  color: blueviolet;
}

#registerWrapper,
#loginFormWrapper {
  grid-column: 2;
  grid-row: 3;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}

input[type='text'],
input[type='password'] {
  max-width: 16rem;
}

input[data-valid='false'] {
  border: solid 3px red;
  background-color: rgb(251, 175, 175);
}

#registerButton,
#loginButton {
  max-width: 150px;
  margin-top: 1rem;
}

footer {
  grid-column: 2;
  grid-row: 5;
}

.errorMessage {
  margin-top: 0.25rem;
  color: red;
}

.flash {
  grid-column: 2;
  grid-row: 3;
  border: 2px solid;
  border-radius: 12px;
  max-width: fit-content;
  padding: 0.6rem;
}

.alert-success {
  background-color: rgb(198, 251, 120);
}
