body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

#mainWrapper {
  display: grid;
  grid-template-columns: 3rem auto 50rem 3rem; /* Left margin / Main / Cart / Right margin */
  grid-template-rows: 3rem 2rem auto auto minmax(80vh, auto) 3rem; /* Header / Navigation / Logged in as / Flash / Main / Footer */
}

header {
  grid-column: 2;
  grid-row: 1;
}

nav {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  padding-left: 0;
}

nav a,
nav li {
  color: blueviolet;
  text-decoration: none;
}

nav a:visited {
  color: blueviolet;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: blueviolet;
}

#registerWrapper,
#loginFormWrapper {
  grid-column: 2;
  grid-row: 5;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}

input[type='text'],
input[type='password'] {
  max-width: 16rem;
}

input[data-valid='false'] {
  border: solid 3px red;
  background-color: rgb(251, 175, 175);
}

button {
  max-width: 150px;
  margin-top: 1rem;
}

footer {
  grid-column: 2;
  grid-row: 6;
  margin-top: 2rem;
}

.errorMessage {
  margin-top: 0.25rem;
  color: red;
}

.flash {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 3;
  border: 2px solid;
  border-radius: 12px;
  max-width: fit-content;
  padding: 0.6rem;
}

.alert-success {
  background-color: rgb(198, 251, 120);
}

.toMain {
  grid-column: 2;
  grid-row: 5;
}

.currentUserName {
  grid-column: 2;
  grid-row: 3;
  margin: 1rem 0;
}

.currentUserName p {
  margin: 0;
  font-style: italic;
}

.filterDiv {
  display: flex;
  flex-direction: column;
}

select {
  max-width: 16rem;
}

#login_a_element {
  color: blue;
  text-decoration: underline;
}

.bookContainer {
  background-color: beige;
  padding: 0.6rem;
  margin-top: 10px;
  border-radius: 1rem;
  border: solid black 2px;
}

.bookContainer p {
  margin: 3px 3px;
}

.bookContainer .title {
  font-weight: bold;
}

.quantityDiv {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 5px 0;
}

.quantity {
  max-width: 3rem;
  max-height: 1.3rem;
  border-radius: 1px;
}

.addToCartButton {
  margin: 0;
}

#noResultsDiv {
  font-size: 150%;
  font-weight: bold;
  background-color: beige;
  padding: 0.6rem 100px;
  margin-top: 10px;
  border-radius: 1rem;
  border: solid black 2px;
  max-width: fit-content;
  max-height: fit-content;
}

.pagination {
  margin-top: 10px;
}

.pagination span {
  margin: 0 0.5rem;
}

.prevButton,
.nextButton {
  border: solid black 1px;
  padding: 3px 8px;
  text-decoration: none;
  background-color: lightblue;
  color: white;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

#cartContainer.visible {
  grid-column: 3;
  grid-row: 1 / 6;
  max-height: 40rem;
  overflow-y: auto;
  background-color: beige;
  padding: 1rem;
  border: solid 2px;
  transform: scale(1);
  transition: 0.5s;
  transform-origin: 100% 0%;
}

#cartContainer {
  grid-column: 3;
  grid-row: 1 / 6;
  max-height: 40rem;
  overflow-y: auto;
  background-color: beige;
  padding: 1rem;
  border: solid 2px;
  transform: scale(0);
  transition: 0.5s;
  transform-origin: 100% 0%;
}

#cartContainer h1 {
  font-size: 1.4rem;
  margin: 0;
}

#cartContainer table {
  border-collapse: collapse;
  background-color: rgb(225, 241, 255);
}

#cartContainer th,
#cartContainer td {
  border: solid 1px;
  padding: 2px 8px;
}

#cartContainer tbody tr:nth-child(odd) {
  background-color: rgb(214, 236, 255);
}

#totalPriceDiv {
  background-color: rgb(214, 236, 255);
  padding: 5px;
  margin: 10px 0;
  font-weight: bold;
  border: solid 2px;
  border-radius: 10px;
}

#pleaseLogInMessageDiv {
  margin: 1rem 0;
}

#ordersTable {
  border-collapse: collapse;
  align-self: flex-start;
  min-width: 260px;
}

#ordersTable th {
  padding-right: 0.8rem;
}

.myOrdersDiv h2 {
  color: blueviolet;
}

.centeredColumn {
  text-align: center;
}

#placeOrderButton {
  padding: 8px;
  font-size: 120%;
  background: green;
  color: white;
  border-radius: 12px;
}

#placeOrderButton:hover {
  cursor: pointer;
  background: rgb(0, 180, 0);
}
#invoice {
  border: solid black;
  max-width: fit-content;
  padding: 1rem;
}

#invoice h1 {
  margin: 0;
}

#invoice h2 {
  margin-bottom: 0.3rem;
}

#invoice ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#invoice th {
  text-align: left;
  padding-right: 1rem;
}

#invoice td {
  padding-right: 1rem;
}

#invoice tr:nth-child(even) {
  background-color: rgb(237, 237, 237);
}

#orderTotalDiv {
  font-size: 150%;
  font-weight: bold;
  margin-top: 2rem;
}

#invoiceHeaderDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#invoiceHeaderDiv button {
  max-height: 2rem;
}

#cartHeaderDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

#cartHeaderDiv button {
  margin: 0;
}

#showCartNavHeader:hover {
  cursor: pointer;
  text-decoration: underline;
}

#ordersTable tr:nth-child(even) {
  background-color: rgba(137, 43, 226, 0.1);
}

#ordersTable tbody tr:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}
