<form action="./books/search" method="get">
  <div class="filterDiv">
    <label for="subject">Subject</label>
    <select name="subject" id="subject" value="<%= viewData?.subject %>">
      <option value="all">All</option>
      <option value="crime">Crime, Thriller & Mystery</option>
      <option value="action">Action & Adventure</option>
      <option value="computing">Computing, Internet & Digital Media</option>
      <option value="arts">Arts, Film & Photography</option>
      <option value="language">Language, Linguistics & Writing</option>
      <option value="romance">Romance</option>
      <option value="sports">Sports</option>
      <option value="biographies">Biographies, Diaries & True Accounts</option>
      <option value="humour">Humour</option>
      <option value="comics">Comics & Mangas</option>
      <option value="politics">Politics</option>
    </select>
  </div>
  <div class="filterDiv">
    <label for="author">Author</label>
    <input type="text" name="author" value="<%= viewData?.author %>">
  </div>
  <div class="filterDiv">
    <label for="author">Title</label>
    <input type="text" name="title" value="<%= viewData?.title || '' %>">
  </div>
  <button type="submit">Search catalogue</button>
</form>