<% if (!loggedIn) { %>
  <div id="books" class="toMain">
    <div id="pleaseLogInMessageDiv">Please <a href="./login" id="login_a_element">log in</a> to see our books.</div>
  </div>
  <% } else { %>
    <div class="toMain flexContainer">
      <%- include('./filter') %>

        <% if (hasSearchResults && hasBooks) { %>
          <div class="searchResult">

            <% if (showPagination) { %>
              <div class="pagination">
                <%- include('./pagination') %>
              </div>
              <% } %>

                <% result.forEach(function (book) { %>
                  <%- include('./container', { book }) %>
                    <% }) %>

                      <% if (showPagination) { %>
                        <div class="pagination">
                          <%- include('./pagination') %>
                        </div>
                        <% } %>
          </div>
          <% } %>
    </div>

    <% } %>