<nav>
  <div>
    <ul>
      <li>
        <a href="./">Home</a>
      </li>
      <% if (!loggedIn) { %>
        <li>
          <a href="./register">Register</a>
        </li>
        <li>
          <a href="./login">Log in</a>
        </li>
        <% } else { %>
          <li>
            <a href="./order">My orders</a>
          </li>
          <li>
            <a href="./logout">Log out</a>
          </li>
          <% } %>
            <li><a href="./books">Books</a></li>
    </ul>
  </div>
  <% if (loggedIn) { %>
    <div>
      <ul>
        <li id="showCartNavHeader">
          Cart
        </li>
      </ul>
    </div>
    <% } %>

</nav>