<div id="loginFormWrapper">
  <h2>Log in</h2>
  <form action="./login" method="post">
    <label for="email">E-mail</label>
    <input type="text" name="email" required">
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button id="loginButton">Submit</button>
  </form>
</div>